body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.col{
/*	border: 1px solid black;*/
	height: 30px
}

.btn-add{
	margin-top: 5px;
	margin-right:50%;
}

.calendar-row{
	padding-top: 2em;

}

.courses{
	margin-bottom: 2em;
	padding-bottom: 0px;
	font-size: 20px;

}